
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row col-md-12">
    <div class="col-md-12">
        <h1>Index</h1>
    </div>
</div>
<div class="row col-md-12">
    @foreach (var project in Model)
    {
        <div class="col-md-12 project">
            <div class="col-md-12 project-container">                
                <div class="col-md-12 project-inner">
                    <h3 class="project-title"><a asp-controller="Blog" asp-action="Single" asp-route-id="@project.TitleToURL()">@project.AllCapsTitle()</a></h3>
                    <h5 class="project-author">Created by</h5>
                    <p class="project-content">
                        @project.ShortContent()
                    </p>
                </div>
                <div class="col-md-12 project-footer">
                    <a asp-controller="Blog" asp-action="Single" asp-route-id="@project.TitleToURL()">Read more</a>
                </div>
            </div>
        </div>
    }
</div>